#tabDiv {
    background: rgba(175, 213, 222, .7);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
	width: 45%;
    height: 45%;
    min-width: 300px;
    min-height: 400px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    z-index: 0;
}
#tabContainer {
    margin: 0;
}
.nav-pills li {
    width: 50%;
    margin: 0;
    box-sizing: border-box;
}

.nav-pills>li+li {
    margin-left: 0px;
}

.nav-pills li a {
    border: none;
    border-radius: 0px;
    background: #258FA7;
    color: #fff;
    margin: 0;
    font-size: 18px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background:  rgba(175, 213, 222, .7);
    color: #258FA7;
}

#tabDiv .form-control {
    margin: 0 auto;
    margin-top: 5%;
    width: 85%;
    max-width: 300px
}

#tabContainer .myBtn {
    display: block;
    margin: 0 auto;
    margin-top: 5%;
}