/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
	font-family: 'PT Sans Narrow', sans-serif;
}

body {
	  background: url("../utils/images/background.jpeg") center center / cover no-repeat;
}

tbody tr:nth-of-type(even)  {
	  background: rgba(175, 213, 222, .95);
}
tbody tr:nth-of-type(odd){
	background: rgba(255,255,255,.8)!important
}
thead tr {
	background: rgba(175, 213, 222, .8);
}
.myBtn {
	background-color: #258FA7;
	border: none;
	color: white;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
  
td .cartButtonDiv {
	  margin: 5px auto 5px 5px!important;
		float: right;
}
.groceryListCart .cartButtonDiv {
	float: none;
	text-align: center;
	display: block!important;
	width: auto!important;
}
.groceryListTitle {
	font-size: 1.15rem;
	font-weight: bold;
}

  @media only screen and (max-width: 500px) {
	td .cartButtonDiv {
		float: none;
		text-align: center;
		display: block!important;
		margin: 0 auto!important;
		width: auto!important;
	}
	.cartListP {
		margin: 0 auto!important;
		display: block!important;
		text-align: center;
	}
	.groceryListTbody tr td {
		padding: 0!important;
	}
	.groceryListP, .groceryListTitle{
		display: block!important;
		text-align: center;
		margin: 0 auto!important;
	}
	.groceryListTitle {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: 160px;
	}
  }